<!DOCTYPE html>
<html>
<head>
    <title>MP3 Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Upload MP3 for Analysis</h1>
    <form method="POST" action="/" enctype="multipart/form-data">
        <input type="file" name="file" accept=".mp3" required>
        <button type="submit">Analyze</button>
    </form>

    {% if result %}
        <h2>Results</h2>
        <img src="{{ url_for('static', filename='output/plot.png') }}" alt="Tone Plot">
        <img src="{{ url_for('static', filename='output/smoothed_plot.png') }}" alt="Tone Plot">
        <pre>{{ result }}</pre>
    {% endif %}
</body>
</html>